header {
  height: 6rem;
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6rem;
    border-bottom: 1px solid var(--border-color);
    z-index: 100;
    background-color: var(--headerBg);
    padding: 0 var(--padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .app_logo {
      height: 100%;
      display: flex;
      align-items: center;
      h1 {
        font-size: 1.8rem;
        font-weight: 700;
        text-transform: uppercase;
        color: var(--headertxt);
      }
    }
    .tools {
      height: 3rem;
      width: fit-content;
      display: flex;
      align-items: center;
      gap: 3rem;
      .theme_controller {
        width: fit-content;
        height: 100%;
        border: none;
        border-radius: 10rem;
        display: flex;
        overflow: hidden;
        .left_btn,
        .right_btn {
          color: var(--headertxt);
          background-color: rgb(114, 113, 113);
          width: 5rem;
          height: 100%;
          display: grid;
          border: none;
          place-items: center;
          cursor: pointer;
        }
        .left_btn {
          border-right: 1px solid white;
        }
        .active {
          background-color: var(--active);
        }
        .icon {
          font-size: 2rem;
        }
      }
      .menu {
        width: 4rem;
        height: 100%;
        display: grid;
        place-items: center;
        cursor: pointer;
        color: var(--headertxt);
        display: none;
        .icon {
          font-size: 3rem;
        }
      }
    }
  }
}
.cat_list {
  position: fixed;
  width: 100%;
  height: calc(100vh - 6rem);
  background-color: rgba(0,0,0,0.7);
  left: 0;
  bottom: 0;
  top: 6rem;
  z-index: 100;
  display: none;
  .cat_list_body {
    width: 400px;
    height: calc(100vh - 8rem);
    overflow-y: scroll;
    overflow-y: scroll;
    transition: all 400ms linear;
    .wrap {
      height: fit-content;
    }
    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: var(--text);
    }
    &::-webkit-scrollbar-thumb {
      background: var(--secondary);
    }
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@media screen and (max-width: 700px) {
  header {
    .header {
      .app_logo{
        h1{
          font-size: 1.5rem;
        }
      }
      .tools {
        gap: 1rem;
        .menu {
          display: flex;
        }
      }
    }
  }
  .cat_list {
    display: block;
    height: 100%;
  }
}
