.cat_list {
  --listPadding: 2rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
  background-color: var(--primary);
  color: var(--text);
  .list_item {
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--listPadding);
    background-color: var(--tertiary);
    margin-bottom: 0.15rem;
    &:last-child {
      border-bottom: none;
    }
    b {
      font-size: 1.5rem;
      font-weight: 500;
      text-transform: capitalize;
    }
    .count {
      background-color: var(--dark);
      width: fit-content;
      padding: 0.1rem 1rem;
      border-radius: 0.3rem;
      color: var(--textSoft);
      span {
        font-size: 1.3rem;
        font-weight: 600;
      }
    }
    &:hover {
      background-color: var(--active);
    }
  }
  .active {
    background-color: var(--active);
  }
}
